<%= form_with(model: question, url: url, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_text %>
    <%= form.text_field :question_text, id: :question_question_text ,size:30,maxlength: 100%>
  </div>

  <div class="field">
    <%= form.label :question_answer1 %>
    <%= form.text_field :question_answer1, id: :question_question_answer1 ,size:30, maxlength: 50%>
  </div>

  <div class="field">
    <%= form.label :question_answer2 %>
    <%= form.text_field :question_answer2, id: :question_question_answer2, size:30,maxlength:50%>
  </div>

  <% if current_user.has_role? :admin %>
      <b>Correct Answer</b><br />
      <%if params[:id]==nil%>
        <%# SONO SU NEW %>
        
        <%= form.radio_button :correct, '1', :checked => true %> First<br />
        <%= form.radio_button :correct, '2' %> Second<br/>
      <%else%>  
          <%# SONO SU EDIT %>
          <%if question.correct!=nil %>
            <%if question.correct==1 %>
              <%= form.radio_button :correct, '1', :checked => true %> First<br />
              <%= form.radio_button :correct, '2' %> Second<br/>
            <%else%>
              <%= form.radio_button :correct, '1' %> First<br />
              <%= form.radio_button :correct, '2', :checked => true %> Second<br/>
            <%end%>
          <%else%>
            <%= form.radio_button :correct, '1', :checked => true %> First<br />
            <%= form.radio_button :correct, '2' %> Second<br/>
          <%end%>        
    <%end%>
    
  <%end%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
