<h1>Edit Question</h1>

<% @photo=Photo.find(@question.photo_id)%>

<h4>
<%= link_to 'New Question', new_photo_question_path(params[:photo_id]) %> | 
<%= link_to 'Show Question', photo_question_path(params[:photo_id],@question) %> |
<%= link_to 'Destroy Question', photo_question_path(params[:photo_id],@question) , method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', photo_path(@photo) %>
</h4>

<% if @photo.url != nil %>
  <%= image_tag(@photo.url, alt: 'Image') if @photo.url %>
<% else %>
  <%= image_tag(@photo.image.url, alt: 'Image') if @photo.image? %>
<%end%>

<h4>
<%= render 'form', question: @question, url: photo_question_path(params[:photo_id],@question) %>
</h4>