<p id="notice"><%= notice %></p>

<% @photo=Photo.find(@question.photo_id)%>
<p>
  <strong>url:</strong>
  <%= @photo.url %>
</p>
<%= image_tag(@photo.url, alt: 'Image') if @photo.url %>

<p>
  <strong>image:</strong>
  <%= @photo.image %>
</p>

<%= image_tag(@photo.image.url, alt: 'Image') if @photo.image? %>

<p>
  <strong>question_text:</strong>
  <%= @question.question_text %>
</p>


<p>
  <strong>question_answer1:</strong>
  <%= @question.question_answer1 %>
</p>

<p>
  <strong>question_answer2:</strong>
  <%= @question.question_answer2 %>
</p>

<%= link_to 'Edit', edit_photo_question_path(params[:photo_id],@question) %> |
<%= link_to 'Back', photo_path(@photo) %>
