
<h1>answers</h1>
<h4><%= link_to 'New answer', new_answer_path %></h4>
    <% @answers.each do |answer| %>
      <% if can? :manage, answer%>
      <div class="img_with_text">
      <% @question=Question.find(answer.question_id)%>
      <% @photo=Photo.find(@question.photo_id)%>
      <% if @photo.url != nil %>
        <%= image_tag(@photo.url, alt: 'Image', class: "img_list") if @photo.url %>
      <% else %>
        <%= image_tag(@photo.image.url, alt: 'Image', class: "img_list") if @photo.image? %>
      <%end%>

        <%= @question.question_text %><br>
        <%= link_to 'Show', answer_path(answer) %>
        <%= link_to 'Edit', edit_answer_path(answer) %>
        <%= link_to 'Destroy', answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

      
    <% end %>

    <% end %>
    </table>


<br>

