<h1>New Answer</h1>

<% @photo=Photo.find(@question.photo_id)%>
<%@answer=Answer.new %>

<h4>
<%= link_to 'New Answer', new_answer_path %> |
<%= link_to 'Back', answers_path %>
</h4>


<%if @photo.url!=nil%>
  <%= image_tag(@photo.url, alt: 'Image') if @photo.url %>
<%else%> 
  <%= image_tag(@photo.image.url, alt: 'Image') if @photo.image? %>
<%end%>

<%if current_user.has_role? :admin %>
    <h4><%= link_to "Show Question", photo_question_path(@photo.id,@question.id)%></h4><br>
  <%end%>

<%= form_with(model:@answer , url: answers_path, local: true) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field(:answer, :question_id, value: @question.id) %>

  <h3>
    <%= @question.question_text %>
  </h3>


    <h4>
    <%= f.radio_button :answer, '1', :checked => true %> <%= @question.question_answer1 %> <br />
    <%= f.radio_button :answer, '2' %> <%= @question.question_answer2%> <br />
    </h4>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>







