
<% @question=Question.find(@answer.question_id)%>
<% @photo=Photo.find(@question.photo_id)%>

<h4>
<%= link_to 'New Answer', new_answer_path %> |
<%= link_to 'Edit Answer', edit_answer_path(@answer) %> |
<%= link_to 'Destroy Answer', answer_path(@answer) , method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', answers_path %>
</h4>

<%if @photo.url!=nil%>
  <%= image_tag(@photo.url, alt: 'Image') if @photo.url %>
<%else%> 
  <%= image_tag(@photo.image.url, alt: 'Image') if @photo.image? %>
<%end%>


  <%if current_user.has_role? :admin%>
    <h4><%= link_to "Show Question", photo_question_path(@photo.id,@question.id)%></h4><br>
  <%end%>


  <h3><%= @question.question_text %></h3>

  <ul>
  <%if @answer.answer==1%>
    <li><strong><span id="winner"><%= @question.question_answer1 %></strong></span></li>
    <li><strong><span id="loser"><%= @question.question_answer2 %></strong></span></li>
  <%else%>
    <li><strong><span id="loser"><%= @question.question_answer1 %></strong></span></li>
    <li><strong><span id="winner"><%= @question.question_answer2 %></strong></span></li>
  <%end%>
  
  </ul>
<%if current_user.has_role? :admin%>
Answered by:<strong><%= link_to User.find(@answer.user_id).email, user_path(User.find(@answer.user_id))%></strong><br>
<%end%>


