
<h1>photos</h1>

<h4><%= link_to 'New photo', new_photo_path %></h4>

    <% @photos.each do |photo| %>
      
      <% if can? :manage, photo%>
      <br>
      <%if photo.url!=nil%>
        <%= image_tag(photo.url, alt: 'Image', class: "img_list") if photo.url %>
      <%else%> 
        <%= image_tag(photo.image.url, alt: 'Image', class: "img_list") if photo.image? %>
      <%end%>
      <%if current_user.has_role? :admin%>
      <strong><%= link_to User.find(photo.user_id).email, user_path(User.find(photo.user_id))%></strong>
      <%end%>
      <table>
      <tr>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </table>
      <% end%>
    <% end %>


<br>

