<!DOCTYPE html>
<html>
  <head>
    <title>Docket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if user_signed_in? %>
          <span class="navbar-brand">Logged in as <strong><%= current_user.email %></strong>.</span>
        <% else %>
          <span class="navbar-brand">Unregistered</span>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Home', "/home" %> </li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path  %> </li>
          <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container main-content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </div>


<%# <p class="navbar-text pull-right"> %>

<%# </p> %>
  </body>
</html>
